<!-- JP -->
{% block header %}
{% endblock %}

<form method="POST" action="{{ script_root }}/admin/challenges/new" enctype="multipart/form-data">
	{% block name %}
	<div class="form-group">
		<label>
			問題名:<br>
		</label>
		<input type="text" class="form-control" name="name" placeholder="Enter challenge name">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			カテゴリ:<br>
		</label>
		<input type="text" class="form-control" name="category" placeholder="Enter challenge category">
	</div>
	{% endblock %}


	{% block message %}
	<div class="form-group">
		<label>
			問題文:<br>
			<small class="form-text text-muted">
				課題の簡単な紹介にご利用ください。
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="description" rows="10"></textarea>
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label>
			スコアの値:<br>
			<small class="form-text text-muted">
				この課題を解くと、このようにポイントが加算されます。
			</small>
		</label>
		<input type="number" class="form-control" name="value" placeholder="Enter value" required>
	</div>
	{% endblock %}

	{% block state %}
	<input type="hidden" name="state" value="hidden">
	{% endblock %}

	{% block type %}
	<input type="hidden" name="type" value="standard">
	{% endblock %}

	{% block submit %}
	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">作成</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}