<!-- JP -->
{% block header %}
{% endblock %}

<form method="POST">
	{% block name %}
	<div class="form-group">
		<label>
			問題名<br>
		</label>
		<input type="text" class="form-control chal-name" name="name" value="{{ challenge.name }}">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			カテゴリ<br>
		</label>
		<input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
	</div>
	{% endblock %}

	{% block message %}
	<div class="form-group">
		<label>
			問題文<br>
		</label>
		<textarea id="desc-editor" class="form-control chal-desc-editor markdown" name="description" rows="10">{{ challenge.description }}</textarea>
	</div>
	{% endblock %}

	{% block connection_info %}
	<div class="form-group">
		<label>
			接続先情報<br>
			<small class="form-text text-muted">
				課題へのリンク、ホスト名、接続方法を指定する場合に使用します。
			</small>
		</label>
		<input type="text" class="form-control chal-connection-info" name="connection_info" value="{{ challenge.connection_info | default('', true) }}">
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label for="value">
			スコアの値<br>
			<small class="form-text text-muted">
				この課題を解くと、何点獲得できるかを表しています。
			</small>
		</label>
		<input type="number" class="form-control chal-value" name="value" value="{{ challenge.value }}" required>
	</div>
	{% endblock %}

	{% block max_attempts %}
	<div class="form-group">
		<label>
			最大試行回数<br>
			<small class="form-text text-muted">ユーザーが受け取る試行回数の最大値。無制限の場合は0にします。</small>
		</label>

		<input type="number" class="form-control chal-attempts" name="max_attempts" value="{{ challenge.max_attempts }}">
	</div>
	{% endblock %}

	{% block state %}
	<div class="form-group">
		<label>
			状態<br>
			<small class="form-text text-muted">課題の状態を変更する（例：表示、非表示）</small>
		</label>

		<select class="form-control custom-select" name="state">
			<option value="visible" {% if challenge.state == "visible" %}selected{% endif %}>表示</option>
			<option value="hidden" {% if challenge.state == "hidden" %}selected{% endif %}>非表示</option>
		</select>
	</div>
	{% endblock %}

	{% block submit %}
	<div>
		<button class="btn btn-success btn-outlined float-right" type="submit">
			更新
		</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}