<!-- JP -->
<div role="tabpanel" class="tab-pane config-section" id="backup">
	<ul class="nav nav-tabs mb-3" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" href="#export-ctf" aria-controls="export-ctf" role="tab"
			   data-toggle="tab">エクスポート</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#import-ctf" aria-controls="import-ctf" role="tab" data-toggle="tab">インポート</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="#save-csv" aria-controls="save-csv" role="tab" data-toggle="tab">CSV ダウンロード</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="#import-csv" aria-controls="import-csv" role="tab" data-toggle="tab">CSV インポート</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="export-ctf">
			<div class="form-group">
				<p>エクスポートは、あなたのCTFの現在の状態のアーカイブです。他のCTFdインスタンスに再インポートすることができます。
					インスタンスに再インポートしたり、スクリプトやサードパーティが統計情報を計算するために使用することができます。</p>
				<p>エクスポートをダウンロードするには、以下のボタンをクリックしてください。</p>
			</div>
			<div class="form-group">
				<a href="{{ url_for('admin.export_ctf') }}" id="export-button" class="btn btn-warning">エクスポート</a>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="import-ctf">
			<div class="form-group">
				<p>保存されたCTFdエクスポートを以下にアップロードすることで、インポートすることができます。
					これにより、既存のCTFdインスタンスは完全に削除されすべてのデータはインポートされたデータに置き換えられます。
					インポートするデータは、信頼できるものだけにしてください。</p>

				<div class="alert alert-warning" role="alert">
					<small class="text-muted text-right">
						<i class="fas fa-exclamation pr-2"></i>
						CTFdのエクスポートをインポートすると、既存のデータが完全に消去される
					</small>
				</div>
			</div>
			<div class="form-group">
				<label for="container-files">インポートファイル</label>
				<input class="form-control-file" type="file" name="backup" id="import-file" accept=".zip">
			</div>
			<input id="import-button" type="submit" class="btn btn-warning" value="Import">
		</div>
		<div role="tabpanel" class="tab-pane" id="save-csv">
			<div class="alert alert-warning" role="alert">
				<small class="text-muted text-right">
					<i class="fas fa-exclamation pr-2"></i>
					CTFdからエクスポートされたCSVは、CSVインポート機能でインポートし直すことは保証されません。  詳しくは、<a href="https://docs.ctfd.io/docs/imports/csv/" target="_blank">CSVインポートの手順</a>をご覧ください。
				</small>
			</div>
			{% with form = Forms.config.ExportCSVForm() %}
			<form method="GET" action="{{ url_for('admin.export_csv') }}">
				<div class="form-group">
					{{ form.table.label }}
					{{ form.table(class="form-control custom-select") }}
				</div>
				<input type="submit" class="btn btn-warning" value="Download CSV">
			</form>
			{% endwith %}
		</div>
		<div role="tabpanel" class="tab-pane" id="import-csv">
			{% with form = Forms.config.ImportCSVForm() %}
			<form method="POST" action="{{ url_for('admin.import_csv') }}" enctype="multipart/form-data" id="import-csv-form">
				<div class="form-group">
					<div class="alert alert-info" role="alert">
						<small class="text-muted text-right">
							<a href="https://docs.ctfd.io/docs/imports/csv/" target="_blank">
								<i class="far fa-question-circle pr-2"></i> 説明書とCSVテンプレート
							</a>
						</small>
					</div>
				</div>
				<div class="form-group">
					<b>{{ form.csv_type.label }}</b>
					{{ form.csv_type(class="form-control custom-select", id="import-csv-type") }}
					<small class="form-text text-muted">
						{{ form.csv_type.description }}
					</small>
				</div>
				<div class="form-group">
					<b>{{ form.csv_file.label }}</b>
					{{ form.csv_file(class="form-control-file", id="import-csv-file", accept=".csv") }}
					<small class="form-text text-muted">
						{{ form.csv_file.description }}
					</small>
				</div>
				{{ form.nonce() }}
				<input type="submit" class="btn btn-warning" value="Import CSV">
			</form>
			{% endwith %}
		</div>
	</div>
</div>