<!-- JP -->
<div role="tabpanel" class="tab-pane config-section" id="fields">
	<form method="POST" autocomplete="off" class="w-100">
		<h5>カスタムフィールド</h5>

		<small class="form-text text-muted">
			カスタムフィールドを追加して、参加者から追加データを取得できます。
		</small>

		<ul class="nav nav-tabs mt-3" role="tablist">
			<li class="nav-item active">
				<a class="nav-link active" href="#user-fields" role="tab" data-toggle="tab">
					ユーザー
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#team-fields" role="tab" data-toggle="tab">
					チーム
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="user-fields">
				<div class="col-md-12 py-3">
					<small>カスタムユーザフィールドは、登録時に表示されます。ユーザーは、オプションでこれらのフィールドをプロフィールで編集することができます。</small>
				</div>

				<div id="user-field-list" class="pt-3">
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="team-fields">
				<div class="col-md-12 py-3">
					<small>カスタムチームフィールドは、チーム作成時に表示されます。チームのキャプテンは、オプションでこれらのフィールドをチームプロフィールで編集することができます。</small>
				</div>

				<div id="team-field-list" class="pt-3">
				</div>
			</div>
		</div>
	</form>
</div>