<!-- JP -->
<div role="tabpanel" class="tab-pane config-section" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				問題の可視性<br>
				<small class="form-text text-muted">
					ユーザーが課題を見るためにログインする必要があるかどうかを制御します。
				</small>
			</label>
			<select class="form-control custom-select" name="challenge_visibility">
				<option value="public" {% if challenge_visibility == 'public' %}selected{% endif %}>
					Public
				</option>
				<option value="private" {% if challenge_visibility == 'private' %}selected{% endif %}>
					Private
				</option>
				<option value="admins" {% if challenge_visibility == 'admins' %}selected{% endif %}>
					Admins Only
				</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				スコアの可視性<br>
				<small class="form-text text-muted">
					解答/スコアを一般公開するか、ログインユーザーに公開するか、管理者以外に非表示にするか、管理者のみに表示するかを制御します。
				</small>
			</label>
			<select class="form-control custom-select" name="score_visibility">
				<option value="public" {% if score_visibility == 'public' %}selected{% endif %}>
					Public
				</option>
				<option value="private" {% if score_visibility == 'private' %}selected{% endif %}>
					Private
				</option>
				<option value="hidden" {% if score_visibility == 'hidden' %}selected{% endif %}>
					Hidden
				</option>
				<option value="admins" {% if score_visibility == 'admins' %}selected{% endif %}>
					Admins Only
				</option>
			</select>
			<small class="form-text text-muted">
				この設定は、競合を避けるために、一般に、Account Visibilityと同じにする必要があります。
			</small>
		</div>

		<div class="form-group">
			<label>
				アカウントの可視性<br>
				<small class="form-text text-muted">
					アカウントを全員(ユーザー &amp; チーム)に見せるか、認証されたユーザーのみに見せるか、管理者のみに見せるかをコントロールすることができます。
				</small>
			</label>
			<select class="form-control custom-select" name="account_visibility">
				<option value="public" {% if account_visibility == 'public' %}selected{% endif %}>
					Public
				</option>
				<option value="private" {% if account_visibility == 'private' %}selected{% endif %}>
					Private
				</option>
				<option value="admins" {% if account_visibility == 'admins' %}selected{% endif %}>
					Admins Only
				</option>
			</select>
			<small class="form-text text-muted">
				この設定は、競合を避けるため、一般的にScore Visibilityと同じにする必要があります。
			</small>
		</div>

		<div class="form-group">
			<label>
				登録の可視性<br>
				<small class="form-text text-muted">
					登録が全員有効か無効かを制御する
				</small>
			</label>
			<select class="form-control custom-select" name="registration_visibility">
				<option value="public" {% if registration_visibility == 'public' %}selected{% endif %}>
					Public
				</option>
				<option value="private" {% if registration_visibility == 'private' %}selected{% endif %}>
					Private
				</option>
				<option value="mlc" {% if registration_visibility == 'mlc' %}selected{% endif %}>
					MajorLeagueCyber Only
				</option>
			</select>
		</div>

		<div class="form-group">
			<div class="form-check">
				<label>
					<input id="paused" name="paused" type="checkbox" {% if paused %}checked{% endif %}>
					CTFを一時停止する<br>
					<small>
						一時停止を解除するまで、ユーザーが回答を送信できないようにします。課題は引き続き見ることができます。
					</small>
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">更新</button>
	</form>
</div>