<!-- JP -->
{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Reset</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% with form = Forms.config.ResetInstanceForm() %}
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							CTFdインスタンスをリセットすることで、データを一括削除し、他のイベントへの準備をすることができます。 
							他のクラスのために準備するため、または、クリーンな状態にするために、データを一括削除することができます。
						</p>

						<p>
							CTFdインスタンスのリセットは、選択したデータを<strong></strong>永久</strong>に削除します。
						</p>

						<p>
							自動バックアップが行われず、選択したデータがすべて失われるため、リセットする前によく考えてください。
						</p>

						<span>
							<strong>
								<a href="{{ url_for('admin.config', _anchor='backup') }}">CTFd Export</a>を作成し、必要なデータのバックアップを作成します。
							</strong>
						</span>
					</div>

					<hr>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.accounts(class="form-check-input") }}
							{{ form.accounts.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							すべてのユーザーおよびチームアカウントとその関連情報を削除します。<br>
							<small>(Users, Teams, Submissions, Tracking)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.submissions(class="form-check-input") }}
							{{ form.submissions.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							アカウントがポイントを獲得した、またはアクションを起こしたレコードをすべて削除する<br>
							<small>(Submissions, Awards, Unlocks, Tracking)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.challenges(class="form-check-input") }}
							{{ form.challenges.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							すべてのチャレンジと関連するデータを削除します。<br>
							<small>(Challenges, Flags, Hints, Tags, Challenge Files)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.pages(class="form-check-input") }}
							{{ form.pages.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							すべてのページとその関連ファイルを削除する<br>
							<small>(Pages, Page Files)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.notifications(class="form-check-input") }}
							{{ form.notifications.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							すべての通知を削除する<br>
							<small>(Notifications)</small>
						</span>
					</div>

					<br>

					{{ form.nonce() }}

					{{ form.submit(class="btn btn-warning btn-lg btn-block") }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/reset.js') }}"></script>
{% endblock %}
