<!-- JP -->
{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Team</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<p>Welcome to {{ Configs.ctf_name }}!</p>
				<p>
					参加するためには、チームに参加するか、チームを作る必要があります。
				</p>
			</div>
		</div>
		{% if integrations.mlc() %}
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<a class="btn btn-primary w-100" href="{{ url_for('auth.oauth_login') }}">公式チームと一緒にプレイ</a>
			</div>
		</div>
		<div class="row pt-3">
			<div class="col-md-3 offset-md-3 text-center">
				<a class="btn btn-light w-100" href="{{ url_for('teams.join') }}">非公式チームに参加</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="btn btn-light w-100" href="{{ url_for('teams.new') }}">非公認チームを作成</a>
			</div>
		</div>
		{% else %}
		<div class="row pt-3">
			<div class="col-md-3 offset-md-3 text-center">
				<a class="btn btn-primary w-100" href="{{ url_for('teams.join') }}">チームに参加</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="btn btn-primary w-100" href="{{ url_for('teams.new') }}">チームを作成</a>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
